<form action="/payment/results">
  <div>
  <label for="fish">APR</label>
  <input id="fish" type="text" placeholder="E.g. 5.42" name= "APR">
  </div>

  <div>
  <label for="spider">Number of years</label>
  <input id="spider" type="text" placeholder="How many years to repay?" name= "years">
  </div>

  <div>
  <label for="ant">Principal</label>
  <input id="ant" type="text" placeholder="How much prinicipal?" name= "principal">
  </div>

  <div>
  <button>Calculate monthly payment</button>
  </div>

</form>