<form action="/square_root/results">
  <div>
  <label for="lion">Enter a number</label>
  <input id="lion" type="text" placeholder="What number do you want to take square root of?" name="root">
  </div>

  <div>
  <button>Calculate square root</button>
  </div>

</form>